
.hero_image_music {
    background: url('../../assets/images/music_hero.png');
    background-position: 2px 2px;
}
.music-choose .why-trust-section{
    background-color: #05ac90 !important;
}

.music-approach .hiw-step img{
    width: auto;
    height: auto;
}
.music-approach .hiw-step h4{
    font-weight: 400 !important;
}
.music_cta .bg-primary-orange-gradient{
    background: url('../../assets/images/music_cta.png') center / cover no-repeat;
}
.music_cta .main-btn-b{
    background-color: #FF9E10;
}

/* New CSS */
.music-page .desktopview .display-3{
    font-size: 40.8px !important;
}
.music-page .section-heading{
    font-size: 37px !important;
}
.music-page .feature-items .pricing-feature-item img{
    width: 35px;
    height: 35px;
}
.music-page .feature-items  .pricing-feature-item{
    align-items: flex-start;
}
.music-page .feature-items .pricing-feature-item .feature-text h5{
    font-weight: 400;
}
.music-page .nap-matter .row > *{
    padding-left: 25px;
    padding-right: 25px;
}
.music-page .nap-matter .card-body{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.music-page .nap-matter .card-body h4{
    font-size: 18px !important;
}
.music-page .nap-matter .card-body p{
    display: none;
}
.music-page .music-approach .hiw-step h4{
    font-size: 20px;
}
.music-page .music_cta section{
    padding-top: 54px !important;
}

.offer-img {
    position: fixed;
    z-index: 1000;
    bottom: 100px;
    right: 25px;
    animation: bounceIn 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(1) translateY(0);
}
.offer-img img {
    width: 60px;
}


@media all and (max-width: 992px){
    .music-page .main-btn1{
        font-size: 14px;
        max-width: 270px;
    }
    .music-page .music-choose .text-secondary,
    .naplan-page .hiw-step .text-secondary{
        text-align: center;
    }
    section.feature-items{ padding: 0; }
    .who_join .mt-5{margin-top: 1.5rem !important;}
    .who_join ul li{text-align: justify;}
    .music-page .text-secondary{
        text-align: justify;
    }
    
}

@media all and (max-width: 768px){
    .offer-img {
        right: 20px;
    }
    .offer-img img{
        width: 55px;
    }
}
@media all and (max-width: 480px){
    .offer-img {
        right: 15px;
    }
    .offer-img img{
        width: 50px;
    }
}