.nap-matter h2, .nap-matter p.lead{
    color: #0F2A47 !important;
}

.nap-approach .hiw-step, .nap-approach .hiw-step h4, .nap-approach .hiw-step p{
    text-align: left !important;
}

.list-bg ul{
    background-color: #F7F6EE;
    padding: 3rem;
}
.list-bg ul li {
    line-height: 2rem;
    color: #070709;
}
.nap-p-cta .bg-primary-orange-gradient {
    background: #22a3d2;
}
.nap-p-cta .section-heading{
    color: #fff !important;
}
.nap-p-cta .main-btn-b{
    background-color: #FF9E10;
}
.what_cover .hiw-card{
    box-shadow: none;
    padding: 1rem;
}
.what_cover .hiw-card .align-items-center{
    align-items: start !important;
}
.what_cover .hiw-card .justify-content-between{
    justify-content: flex-start !important;
}
.what_cover.icas_cover .hiw-card .hiw-step{
    margin-bottom: 20px;
}


@media all and (max-width:768px) {
    .what_cover{
        padding: 40px 0 0;
    }
    .what_cover .hiw-card .hiw-step{
        margin-bottom: 20px;
    }
}
